/* :root{
    
} */



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.centerText {
    text-align: center;
}

body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex; flex-direction: column;
}
h1{
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

img {
    width: 20%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

header nav a {
    padding: ;

}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}